<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Accueil de la Billeterie</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div id="header" class="jumbotron">
        <h1 class="text-center"> Billeterie du musée du Louvre</h1>
    </div>
    <div class="row">
        <div> <p class="text-center"><a href="{{ path('louvre_commande') }}">Passez une nouvelle</a></p></div>
        <div> <p class="text-center">retrouvez votre ancienne commande</p></div>
    </div>
</div>

</body>
</html>