{%  extends 'base.html.twig' %}

{% block body %}
    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h2>Si vous n'arrivez pas à commander :</h2>
                </div>
                <div class="col-lg-6 my-auto">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="{{ path('louvre_commande') }}" class="btn btn-secondary btn-lg">
                                <i class="fa fa-check-square-o fa-fw"></i>
                                <span class="network-name">Démarrez ma commande</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.container -->
    </aside></br>

    <div class="container">
        <h2>Un problème lors de la commande? </h2><hr></br>
        <h4> Le processus de commande est simple: </h4></br>
        <ul>
            <li> Un premier formulaire prends les informations générale de la commande, comme le nom, le prénom,
            la date de visite ou l'adresse email.</li>
            <li> Vous êtes ensuite redirigés vers une page qui vous demande de sélectionner le nombre de billets
            désiré, et de les remplir.</li>
            <li> Un récapitulatif de commande vous permet de vérifier que toutes les informations rentrées sont correctes,
            et si besoin, vous propose de revenir en arrière les modifier.</li>
            <li> Vous pouvez ensuite payer. Si une erreur de paiement intervient, pas de panique, vous serez redirigé
            de nouveau vers le récapitulatif pour réessayer.</li>
            <li>Si le paiement est validé, vous arriverez à une page de confirmation de commande, et un mail de
             confirmation vous sera envoyé à l'adresse email renseignée.</li>
        </ul></br>
        <h4> Toujours un problème ? :</h4></br>
        <p> Vérifiez que votre navigateur internet est à jour, et que vous avez suivi les inttructions ci-dessus pas à pas.</p>
        <p> Si votre problème persiste, merci de contacter nos équipes, nous nous efforcerons de régler votre problème au
        plus vite.</p>
    </div>
    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 mr-auto order-lg-2">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Nous contacter :</h2>
                    <p class="lead">Les informations suivantes permettent de nous contacter, par voie postale, par
                    téléphone ou par mail selon vos préférences:</p>
                    <ul>
                        <li>adresse email : <span class="lead">louvre@louvre.fr</span></li>
                        <li>adresse : <span class="lead">Rue de Rivoli, 75001 Paris</span></li>
                        <li>N° Téléphone : <span class="lead">01 02 03 04 05</span></li>
                    </ul>
                </div>
                <div class="col-lg-5 ml-auto order-lg-1">
                    <img class="img-fluid" src="{{ asset('img/help.jpg') }}" alt="image de commande">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->


{% endblock %}
