{% extends 'base.html.twig' %}

{% block body %}
    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 my-auto">
                    <h2>Complétez votre commande</h2>
                    <p> Merci de remplir les informations demandées</p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </aside>

    </br>

    <div class="container">
        <div class="row">
            <div> <h1>Votre commande est validée!</h1></br>
                <p> Nous vous remercions de votre commande, soyez assuré qu'elle sera traitée dans les plus brefs
                    délais.</br>
                <p> Un email de confirmation vient de vous être envoyé. Il regroupe toutes les informations relatives
                à votre commande.</p>
                <a href="{{ path('louvre_accueil') }}" class="btn btn-secondary btn-lg">Retour à l'accueil</a>
            </div>
        </div></br>
    </div>
{% endblock %}