{%  extends 'base.html.twig' %}

{% block body %}
    <aside class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 my-auto">
                    <h2>Informations générales sur la billeterie :</h2>
                </div>
                <div class="col-lg-6 my-auto">
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="{{ path('louvre_commande') }}" class="btn btn-secondary btn-lg">
                                <i class="fa fa-check-square-o fa-fw"></i>
                                <span class="network-name">Démarrez ma commande</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.container -->
    </aside>

    </br>

    <section class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 ml-auto">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Horaires et ouvertures :</h2>
                    <p class="lead"> Le musée du Louvre est ouvert tous les jours de 9 h à 22 h. Il est fermé le mardi et le dimanche.
                        Il est également fermé les jours fériés ( 1er mai, 1er novembre, 25 décembre).</br> Il est possible de
                    commander en ligne pour le même jour, si la commande est effectuée avant 14 heures. Toutes ces
                    informations sont présentes dans le mail de confirmation de commande reçu une fois la commande validée
                    et le paiement effecuté.</p>
                </div>
                <div class="col-lg-5 mr-auto">
                    <img class="img-fluid" src="{{ asset('img/horaires.png') }}" alt="image horaires">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 mr-auto order-lg-2">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tarification :</h2>
                    <p class="lead">Les tarifs sont fixés selon le barême suivant : </p>
                    <ul>
                        <li>Un tarif « normal » à partir de 12 ans à 16 €.</li>
                        <li>Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée est gratuite pour les enfants de moins de 4 ans).</li>
                        <li>Un tarif « senior » à partir de 60 ans pour 12  €.</li>
                        <li>Un tarif « réduit » de 10 €.</li>
                    </ul>
                    <p class="lead">Il existe deux types de tickets, "journée" et "demi journée". Le ticket demi journée
                        permet de ne rentrer qu'à partir de 14h, et est facturé la moitié du prix dans le barême ci-dessus.
                        Il faut présenter lors de l'entrée au musée sa carte d'identité, ainsi que tout justificatif ouvrant droit au tarif réduit.</p>
                </div>
                <div class="col-lg-5 ml-auto order-lg-1">
                    <img class="img-fluid" src="{{ asset('img/tarif.jpg') }}" alt="image de tarif">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

{% endblock %}
